.WelcomeSection {
}

.container {
  position: relative;

  max-width: 343px;
  height: 411px;
  border-radius: 30px;
  padding: 118px 16px 67px 16px;

  background-color: var(--light-gray);

  @media (min-width: 768px) {
    max-width: none;
    width: 704px;
    height: 498px;
    padding: 106px 93px 50px 64px;
  }

  @media (min-width: 1440px) {
    width: 672px;
    height: 736px;
    padding: 188px 61px 188px 64px;
  }
}

.content {
}

.text {
  margin-bottom: 16px;

  font-family: var(--dark);
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: 0.06em;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.title {
  margin-bottom: 32px;

  color: var(--light-dark);
  font-weight: 700;
  font-size: 38px;
  line-height: 1;
  letter-spacing: -0.01em;

  @media (min-width: 768px) {
    font-size: 64px;
    line-height: 1.09375;
  }

  @media (min-width: 1440px) {
    font-size: 80px;
    line-height: 0.95;
  }
}

.list {
  display: flex;
  gap: 10px;

  @media (min-width: 768px) {
    gap: 16px;
  }
}

.item {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.01em;
  text-align: center;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 1.5;
  }
}

.linkSignup {
  padding: 14px 19px;
  background-color: var(--green);
  border-radius: 30px;

  @media (min-width: 768px) {
    padding: 18px 40px;
  }
}

.linkSignin {
  padding: 13px 28px;
  border: 1px solid var(--light-dark);
  border-radius: 30px;

  @media (min-width: 768px) {
    padding: 17px 40px;
  }
}
