.section {
}

.container {
  max-width: 343px;
  height: 353px;
  border-radius: 30px;

  padding: 209px 16px 32px 16px;

  /* Mobile screen */
  background-image: url(../../assets/pictures/HomePage/girl.png);
  background-size: cover;
  background-position: center;

  /* retina mobile screen */
  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url('../../assets/pictures/HomePage/girl@2x.png');
  }

  @media (min-width: 768px) {
    max-width: none;
    width: 704px;
    height: 446px;
    padding: 283px 32px 32px 32px;

    /* tablet screen */
    background-image: url(../../assets/pictures/HomePage/girl-tab.png);
    background-size: cover;

    /* retina tablet screen */
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../assets/pictures/HomePage/girl-tab@2x.png');
    }
  }

  @media (min-width: 1440px) {
    width: 672px;
    height: 736px;
    padding: 537px 32px 64px 32px;

    /* desktop screen */
    background-image: url('../../assets/pictures/HomePage/girl-desk.png');
    background-size: cover;

    /* retina desktop screen */
    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../../assets/pictures/HomePage/girl-desk@2x.png');
    }
  }
}

.customers {
  display: flex;
  align-items: center;
  gap: 3.77px;

  margin-bottom: 8px;

  border-radius: 30px;
  padding: 10px 14px;
  max-width: 200px;
  height: 48px;

  background-color: var(--white);
  box-shadow: 0 4px 50px 0 rgba(0, 0, 0, 0.1);

  @media (min-width: 768px) {
    gap: 4px;
    padding: 10px 20px;
    max-width: 237px;
    height: 67px;
  }
}

.customersPhoto {
  display: flex;
}

.photo {
  width: 26.4px;
  height: 28px;

  border-radius: 50%;
  overflow: hidden;
  border: 1px solid white;

  @media (min-width: 768px) {
    width: 47px;
    height: 47px;
  }
}

.photo:nth-child(1) {
  margin-left: 0;
  z-index: 3;
}

.photo:nth-child(2) {
  margin-left: -9px;
  z-index: 2;

  @media (min-width: 768px) {
    margin-left: -19px;
  }
}

.photo:nth-child(3) {
  margin-left: -9px;
  @media (min-width: 768px) {
    margin-left: -19px;
  }
}

.customersText {
  font-weight: 700;
  font-size: 12px;
  line-height: 1.17;

  @media (min-width: 768px) {
    font-size: 15px;
    line-height: 1.49;
  }
}

.customersTextHappy {
  color: var(--green);
}

.list {
}

.benefits {
  display: flex;
  flex-wrap: wrap;
  gap: 4px;

  padding-left: 143px;

  @media (min-width: 768px) {
    gap: 10px;
    padding-left: 398px;
  }

  @media (min-width: 1440px) {
    padding-left: 366px;
  }
}

.benefitsItem {
  border-radius: 30px;
  padding: 9px 12px;

  font-weight: 700;
  font-size: 8px;

  line-height: 1;
  letter-spacing: -0.01em;
  text-align: center;

  @media (min-width: 768px) {
    padding: 11px 16px;
    font-size: 12px;
    line-height: 1;
  }
}

.benefitsItem:nth-child(1) {
  background-color: var(--light-dark);
  color: var(--white);
}

.benefitsItem:nth-child(1)::before {
  content: '';
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  margin-right: 4px;
  background-color: var(--green);
}

.benefitsItem:nth-child(2) {
  background-color: var(--green);
}

.benefitsItem:nth-child(3) {
  background-color: var(--white);
}
