/* local fonts */
@import url(./fonts.css);

/* remote fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Roboto:wght@400;700&display=swap'); */

/* Box model */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

/* Reset styles */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: currentColor;
  font-family: inherit;
  display: block;
}

/* button {
  display: block;
  padding: 0;

  font-family: inherit;
  font-weight: inherit;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: transparent;
} */

img {
  display: block;
  max-width: 100%;
  height: auto;
}

*::before,
*::after {
  display: block;
}

/* Variables*/

:root {
  /* Color */

  --white: #fff;
  --light-gray: #f0eff4;

  --green: #9be1a0;
  --hover-green: #87d28d;
  --light-dark: #323f47;
  --dark: #2f2f2f;
  --error-color: #ef5050;

  --input-border-inactive-color: rgba(47, 47, 47, 0.2);
  --input-border-focused-color: rgba(47, 47, 47, 0.2);
  --input-border-activated-color: rgba(47, 47, 47, 0.4);
  --input-text-inactive-color: rgba(47, 47, 47, 0.6);

  --signin-btn-disabled-color: rgba(47, 47, 47, 0.2);

  /* Transition*/
  --transition-delay: 250ms;
  --transition: cubic-bezier(0.14, 0.57, 0.97, 0.39);
}

/* ------------BASE STYLES------------ */

body {
  font-family: 'Poppins', sans-serif;
  color: var(--light-dark);
  fill: none;
  stroke: var(--dark);
}

svg {
  display: block;
}
